.nav {
  color: black;
}

* {
  font-family: "Roboto";
}

.navbar-brand {
  font-size: 30px;
  font-family: "Oswald";
}

.nav-link {
  font-size: 18px;
}

.mylink {
	text-decoration: none;
}

.nav-btn {
  font-size: 18px;	
}

.mybtn{
    margin:5px;
}